.tituloContacto{
    padding: 10px;
    margin: 0px 10px
 }
 .tituloContacto{
    color:rgb(14, 16, 18)
}

.dondeEstamos{
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
    padding-left: 10px;
}

.formulario{
    border: 2px;
    border-style: dashed;
    
}