@import "variables";
@import "inicio";
@import "clases";
@import "productos";
@import "nosotros";
@import "contacto";


 
 @media screen and (max-width:768px){
    .contenedor{
       grid-template-columns: repeat (3, 1fr);
    }

   }
 
 @media(min-width:520px){
    .banner h1{
        font-size: 30px; 
    }

    .grid{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2,1fr);

    }
}

@media only screen and (max-width:1245px) and (min-width:1024px){
    .contenedor{
        width: 1000px;

    }
    .grid{
        grid-template-columns: repeat(auto-fit,minmax(225px,1fr));
        justify-content: space-around;
    }


}

 @media(min-width: 1024px){
    .clases-Grid{
        display: grid;
        grid-template-columns: repeat(2);
        text-align: center;
    
        
    }
 }
 

 